@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Lobster&family=Lobster+Two&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heebo, main, .intro .intro-text {
  font-family: 'Heebo', sans-serif;
}

.lobster, nav #logo, nav .big-text {
  font-family: 'lobster', cursive;
}

.landing {
  min-height: 100vh;
  background-image: url(../images/hero.jpg);
  background-size: cover;
  padding: 0rem 5rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
}

nav #logo {
  font-weight: lighter;
  font-size: 2rem;
}

nav .big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  font-size: 5rem;
  color: #3d3d3d;
}

.intro {
  background-color: #0a0a0a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro-text {
  color: #dfdfdf;
  font-size: 3rem;
}

.slider {
  background-color: #344147;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background-color: #0a0a0a;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#thinky-logo {
  position: absolute;
  height: 100px;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fills 0.5s ease forwards 5.5s;
          animation: fills 0.5s ease forwards 5.5s;
}

#thinky-logo .paths {
  stroke: #1f85ad;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

/*
* Got these values from the console.log in 
* thinky function
*/
#logo .paths:nth-child(1) {
  stroke-dasharray: 1859.63013px;
  stroke-dashoffset: 1859.63013px;
  -webkit-animation: line-animation 3s ease forwards 0.3s;
          animation: line-animation 3s ease forwards 0.3s;
}

#logo .paths:nth-child(2) {
  stroke-dasharray: 947.15338px;
  stroke-dashoffset: 947.15338px;
  -webkit-animation: line-animation 3s ease forwards 0.6s;
          animation: line-animation 3s ease forwards 0.6s;
}

#logo .paths:nth-child(3) {
  stroke-dasharray: 466.77524px;
  stroke-dashoffset: 466.77524px;
  -webkit-animation: line-animation 3s ease forwards 0.9s;
          animation: line-animation 3s ease forwards 0.9s;
}

#logo .paths:nth-child(4) {
  stroke-dasharray: 56.18001px;
  stroke-dashoffset: 56.18001px;
  -webkit-animation: line-animation 3s ease forwards 1.2s;
          animation: line-animation 3s ease forwards 1.2s;
}

#logo .paths:nth-child(5) {
  stroke-dasharray: 56.18001px;
  stroke-dashoffset: 56.18001px;
  -webkit-animation: line-animation 3s ease forwards 1.5s;
          animation: line-animation 3s ease forwards 1.5s;
}

@-webkit-keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fills {
  from {
    fill: transparent;
  }
  to {
    fill: #1f85ad;
  }
}

@keyframes fills {
  from {
    fill: transparent;
  }
  to {
    fill: #1f85ad;
  }
}
/*# sourceMappingURL=styles.css.map */